.author {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  text-align: left;
}

.author > div {
  display: flex;
  align-items: center;
}

.author picture {
  margin-right: 15px;
}

.author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.author p {
  margin: 0;
  color: #333;
}

.author p:first-of-type {
  font-size: 1em;
}

.author p:first-of-type span {
  font-weight: normal;
  margin-left: 5px;
}

.author p:last-of-type {
  font-size: 0.9em;
  color: #777;
}
